
<div class="receipe-post-search mb-80">
        <div class="container">
            <form action="#" method="post">
                <div class="row">
                        <div class="col-12 col-lg-2">
                                <select class="form-control" name="selectPreparationWeight" id="selectPreparationWeight">
                                    <option value="1">EASY</option>
                                    <option value="2">MIDDLE</option>
                                    <option value="3">HARD</option>
                                </select>
                            </div>
                    <div class="col-12 col-lg-2">
                        <select class="form-control" name="selectPreparationWeight" id="selectPreparationWeight">
                            <option value="1">EASY</option>
                            <option value="2">MIDDLE</option>
                            <option value="3">HARD</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-2">
                            <select class="form-control" name="selectPreparationWeight" id="selectPreparationWeight">
                                <option value="1">LESS THAN</option>
                                <option value="2">GREATHER THAN</option>
                                <option value="3">IS</option>
                            </select>
                        </div>
                    <div class="col-12 col-lg-2">
                            <input type="number" min=0 placeholder="Time">

                    </div>
                    <div class="col-12 col-lg-2"> 
                        <input type="search" name="search" placeholder="Ingredients">
                    </div>
                    
                    <div class="col-12 col-lg-2 text-right">
                        <button type="submit" class="btn delicious-btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <app-view-recipies></app-view-recipies>