    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" (click)="router.navigate(['/main'])"><img src="assets/images/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                            <button class="btn btn-outline-success" ngbDropdownToggle>New recipe</button>
                                            <div class="dropdown-menu" ngbDropdownMenu>
                                              <button ngbDropdownItem (click)="router.navigate(['/main/newRecipeForm'])">Forms</button>
                                              <button ngbDropdownItem (click)="router.navigate(['/main/newRecipeCommand'])">Commands</button>
                                            </div>
                                          </div>
                               

                                <!-- Newsletter Form -->
                               <!-- <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="false"></i>
                                </div> -->

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>