<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/images/breadcumb3.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Recipe</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="message != ''" class="col-12 col-lg-12">
        <div class="alert alert-warning" role="alert">
                {{message}}
        </div>
</div>

    <!-- Receipe Content Area -->
    <div class="col-12 col-lg-12"> </div>
    <div class="receipe-content-area">
        <div class="container">
        <div class="col-12 col-lg-12"> </div>

            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <textarea name="command" class="form-control" id="command" cols="30" rows="10" placeholder="Write a new recipe" [(ngModel)]="command"> </textarea>
                                </div>
                                <!-- u ostatku cemo ispisati mogu vrednosti za neke stvari-->
                                <div class="col-12 col-lg-4">
                                    <select name="selectOption" id="selectOption" class="nice-select"  (change)="onChange($event)">
                                        <option value="1"> Command for new recipe </option>
                                        <option value="2"> Weight category </option>
                                        <option value="4"> Measurement unit </option>
                                        <option value="5"> Category </option> 
                                    </select>
                                    
                                    <div id="description">
                                        <p> 
                                            <strong>ADD RECIPE</strong> 'recipe_name'
                                            <strong>IN CATEGORY</strong> name of category,
                                            <strong>INGREDIENTS </strong>( quantity unit 'name of ingredient' [','] ),
                                            <strong>STEPS</strong>( STEP number of step : 'description' [','] ),
                                            <strong>PREPARATION TIME </strong> time min , <strong> PREPARATION WEIGHT </strong> weight
                                        </p>
                                    </div>
                                </div>
                                    
                                <div class="col-12">
                                    <button class="btn delicious-btn mt-30" (click)="addRecipe()" type="submit">Add receipe</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            

           
                

           

    </div>
</div>



<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
               
                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a (click)="router.navigate(['/main'])"><img src="assets/images/logo.png" alt=""></a>
                </div>
                
            </div>
        </div>
    </div>
</footer>
