    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/images/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Culinary recipe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <h2>{{recipe.fields.name}}</h2>
                            <div class="receipe-duration">
                                <h6>Preparation time: {{recipe.fields.time}} min</h6>
                                <h6>Category: {{recipe.fields.category}}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            
                            <a href="#" class="btn delicious-btn">{{recipe.fields.weight}}</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div *ngFor="let s of steps" class="single-preparation-step d-flex">
                            <h4>{{s.fields.numOfStep}}</h4>
                            <p>{{s.fields.description}} </p>
                        </div>
                        <!-- Single Preparation Step -->
                        
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>

                            <!-- Custom Checkbox -->
                            <div *ngFor="let i of ingredients" class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">{{i.fields.quantity}} {{i.fields.unit}} {{i.fields.name}}</label>
                            </div>

                        </div>
                    </div>
                </div>

               
            
                <div class="col-12">
                    <button class="btn delicious-btn mt-30" (click)="convertToPdf()" type="submit">PDF</button>
                    <button class="btn delicious-btn mt-30" (click)="delete()" type="submit">Delete</button>
                </div>
    
            </div>
        </div>
    

    

