<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/images/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Recipe</h2>
                    </div>
                </div>
            </div>
        </div>
</div>

<div *ngIf="message != ''" class="col-12 col-lg-12">
    <div class="alert alert-warning" role="alert">
            {{message}}
    </div>
</div>

<div class="col-12 col-lg-12"> </div>
<div class="receipe-content-area">
        <div class="container">
                <div class="col-12 col-lg-12"> </div>

                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="recipeName" name="recName">
                                    </div>
                                    <div class="col-12 col-lg-6"></div>
                                    <div class="col-12 col-lg-6">
                                        <select name="selectKind" id="selectKind" class="nice-select" [(ngModel)]="category">
                                                <option value="" disabled selected>Category</option>
 
                                                <option *ngFor="let c of categories" value="{{c}}">{{c}}</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-12 col-lg-12"></div>
                                    <div class="col-12 col-lg-12"></div>
                                    
                                    <div class="col-12 col-lg-3">
                                        <input type="number" class="nice-select" min="0" id="time" placeholder="Time" [(ngModel)]="time">
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <h6 class="center"> min </h6>
                                    </div>
                                    <div class="col-12 col-lg-12"></div>

                                    <div class="col-12 col-lg-6">
                                        <select name="selectWeight" id="selectWeight" class="nice-select" [(ngModel)]="weight" aria-placeholder="Weight" >
                                                <option value="" disabled selected>Weight</option>
 
                                            <option *ngFor="let w of weights" value="{{w}}"> {{w}} </option>
                                        </select>    
                                    </div>

                                    <div class="col-12 col-lg-6"></div>

                                    <div class="col-12 col-lg-12"></div>

                                    <div class="col-12" id="ingredients">
                                        <div class="row" id="div_1" *ngFor="let i of ingItems">
                                            <div class="col-12 col-lg-2">
                                                <input type="number" min="0" name="ing" [(ngModel)]="i.quantity" class="form-control" id="quantity" step="0.1" placeholder="Quantity">
                                            </div>
                                            <div class="col-12 col-lg-2">
                                                <select name="unit" id="selectIngUnit" class="nice-select" [(ngModel)]="i.unit">
                                                        <option value="" disabled selected>Unit</option>
 
                                                    <option *ngFor="let u of units" value="{{u}}">  {{u}} </option>										
                                                </select>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" id="ing_name" placeholder="Name" [(ngModel)]="i.name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12"></div>
                                    </div>
                                    <div class="col-12 col-lg-1">
                                        <input class="btn" id="plus_1" type="button" (click)="addIng()" value="+">
                                    </div>
                                    <div class="col-12 col-lg-1" *ngIf="ingNum > 1">
                                        <input class="btn" id="minus_1" type="button" (click)="deleteIng()" value="-">
                                    </div>
                                    <div class="col-12 col-lg-12"></div>

                                    <div class="col-12" id="steps">
                                        <div class="row" id="div_step_1" *ngFor='let s of stepItems'>
                                            <div class="col-12 col-lg-12">
                                                <h4 *ngIf="s.numOfStep < 10"> 0{{s.numOfStep}}. </h4> 
                                                <h4 *ngIf="s.numOfStep >= 10"> {{s.numOfStep}}. </h4> <textarea name="step" class="form-control" id="step_text_1" cols="15" rows="3" [(ngModel)]="s.description" placeholder="Step"></textarea>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="col-12 col-lg-12"></div>
                                    </div>
                                    <div class="col-12 col-lg-1">
                                            <input class="btn" id="step_plus_1" (click)="addStep()"     type="button" value="+">
                                    </div>
                                    <div *ngIf="stepNum > 1" class="col-12 col-lg-1">
                                            <input class="btn" id="step_plus_1" (click)="deleteStep()"     type="button" value="-">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn delicious-btn mt-30" type="submit" (click)="addRecipe()"> Add recipe</button>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
</div>
       
  

  


 