
<div class="receipe-post-search mb-80">
        <div class="container">
            <div class="contact form-area">
                <div class="row">
                        <div class="col-12 col-lg-2">
                                <input type="search" class="form-control" name="name" placeholder="Name" [(ngModel)]="name">

                            </div>
                        <div class="col-12 col-lg-2">
                                <select class="nice-select" name="category" id="category" [(ngModel)]="category">
                                    <option value="" disabled selected>Category</option>
                                    <option *ngFor= "let c of categories" value="{{c}}">{{c}}</option>
                                    
                                </select>
                            </div>
                    <div class="col-12 col-lg-2">
                        <select class="nice-select" name="weight" id="weight" [(ngModel)]="weight">
                            <option value="" disabled selected>Weight</option>
                            <option *ngFor="let w of weights" value="{{w}}">{{w}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-2">
                            <select class="nice-select" name="operator" id="operator" [(ngModel)]="op" >
                                    <option value="" disabled selected>Op</option>
                                <option *ngFor="let o of operators" value="{{o.value}}">{{o.op}}</option>
                            </select>
                        </div>
                    <div class="col-12 col-lg-1">
                            <input type="number" min=0 placeholder="Time" class="form-control" [(ngModel)]="time">

                    </div>
                    <div class="col-12 col-lg-2"> 
                        <input type="search" class="form-control" name="search" placeholder="Ingredients" [(ngModel)]="ingredients">
                    </div>
                    
                    <div class="col-12 col-lg-1"> 
                        <div class="classynav">
                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="flase" (click)="search()"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>

    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/images/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="breadcumb-text text-center">
                        <h2>Culinary recipes</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section class="top-catagory-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- ovde ce se ispisati recepti koje imamo, klikom na see full receipe prikazace se jedan konkretan recept -->
                <div *ngIf="recipies.length == 0" class="col-12 col-lg-12">
                        <div class="alert alert-warning" role="alert">
                                No found recipe! 
                        </div>
                </div>

                <div *ngIf="message != ''" class="col-12 col-lg-12">
                    <div class="alert alert-warning" role="alert">
                        {{message}}
                    </div>
                </div>
                    <div class="col-12 col-lg-6" *ngFor="let r of recipies">
                        <div class="single-top-catagory">
                            <img *ngIf="r.fields.category=='DESERT'" src="assets/images/bg2.jpg" alt="">
                            <img *ngIf="r.fields.category=='SOUP'" src="assets/images/soup.jpg" alt="">
                            <img *ngIf="r.fields.category=='SANDWICH'" src="assets/images/sand.jpg" alt="">
                            <img *ngIf="r.fields.category=='BREAKFAST'" src="assets/images/breakfast.jpg" alt="">
                            <img *ngIf="r.fields.category=='DINNER'" src="assets/images/dinner.jpg" alt="">
                            <img *ngIf="r.fields.category=='LUNCH'" src="assets/images/lunch.jpg" alt="">
                            <img *ngIf="r.fields.category=='HRONO'" src="assets/images/hrono.jpg" alt="">
                            <img *ngIf="r.fields.category=='SALAD'" src="assets/images/salad.jpg" alt="">
                            <img *ngIf="r.fields.category=='APPETIZER'" src="assets/images/appetizer.jpg" alt="">
                            <img *ngIf="r.fields.category=='PIZZA'" src="assets/images/bg2.jpg" alt="">
                            <img *ngIf="r.fields.category=='BURGER'" src="assets/images/burger.jpg" alt="">
                            <!-- Content -->
                            <div class="top-cta-content">
                                <h3>{{r.fields.name}}</h3>
                                <h6>{{r.fields.category}}</h6>
                                <a (click)="chosenRecipie(r)" class="btn delicious-btn">See Full Recipe</a>
                            </div>
                        </div>
                    </div>
                
            </div>
                
        </div>
    </section>
    <!-- ##### Top Catagory Area End ##### -->

   
