<section class="top-catagory-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- ovde ce se ispisati recepti koje imamo, klikom na see full receipe prikazace se jedan konkretan recept -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="assets/images/bg2.jpg" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>Strawberry Cake</h3>
                            <h6>Simple &amp; Delicios</h6>
                            <a (click)="router.navigate(['/main/viewRecipe'])" class="btn delicious-btn">See Full Receipe</a>
                        </div>
                    </div>
                </div>
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="assets/images/bg3.jpg" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>Chinesse Noodles</h3>
                            <h6>Simple &amp; Delicios</h6>
                            <a href="receipe-post.html" class="btn delicious-btn">See Full Receipe</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                        <div class="single-top-catagory">
                            <img src="assets/images/bg3.jpg" alt="">
                            <!-- Content -->
                            <div class="top-cta-content">
                                <h3>Chinesse Noodles</h3>
                                <h6>Simple &amp; Delicios</h6>
                                <a href="receipe-post.html" class="btn delicious-btn">See Full Receipe</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- ##### Top Catagory Area End ##### -->

    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a (click)="router.navigate(['/main'])"><img src="assets/images/logo.png" alt=""></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>
